#drum-machine {
  background-color: gray;
  display: grid;
  min-height: 100vh;
  align-items: center;
  justify-items: center;
}
.App > div {
  display: grid;
  background-color: silver;
  border: solid thick orange;
  grid-template-columns: repeat(3, 4em);
  grid-gap: 1em;
  grid-auto-rows: 4em;
  padding: 1em;
}
.App button {
  border-radius: 0.25em;
  border: none;
  background-color: gray;
  box-shadow: 0.25em 0.25em 0.25em black;
  transition: box-shadow 0.1s
}
.App button:active,
.App button.active {
  box-shadow: none; 
}
.App button.playing {
  background-color: orange;
}
.App p {
  background-color: gray;
  grid-column: span 3;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}